GITHUB_TOKEN=<dummy-github-token>
TF_VAR_aws_region=us-east-1
TF_VAR_aws_account_id=<dummy-account-id>
TF_VAR_ip_prefix_2_octets=10.65
TF_VAR_runner_image_id=<ami-id>
TF_VAR_runner_manager_github_token=<another-dummy-github-token>
TF_VAR_runner_manager_aws_region=${TF_VAR_aws_region}
TF_VAR_runner_manager_aws_access_key_id=<dummy-access-key-id>
TF_VAR_runner_manager_aws_secret_access_key=<dummy-secret-access-key>
TF_VAR_runner_manager_security_group_id=<dummy-security-group-id>
TF_VAR_runner_manager_subnet_id=<dummy-subnet-id>
